* {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
}

h2 {
  margin: 2rem 0 1rem 0;
  font-size: 35px;
}

/* Coin selected  */
.selected {
  display: flex;
  justify-content: center;
}

.selected p {
  margin: 0 1rem;
  font-size: 20px;
}

/* Coin Image */
img {
  width: 250px;
  height: 250px;
  margin: 3rem;
}

/* Score */
.score {
  display: flex;
  justify-content: center;
}

.score p {
  margin: 0 1rem 1rem;
  font-size: 20px;
}

h4 {
  font-size: 28px;
  margin-bottom: 1rem;
}

/* Buttons */
